.form-container
  = form_with model: @track do |f|
    .text-field.field-container
      = f.label :name
      = f.text_field :name
    %br
    .text-field.field-container
      = f.label :artist
      = f.text_field :artist
    %br
    .text-field.field-container
      = f.label :length
      = f.text_field :length
      %br
      %br
    .file-field.field-container
      =f.label :track
      =f.file_field :url
      %br
      %br

    .submit-field.field-container
      = f.submit 'Add track'
    %br
    %br
  .back-field.field-container
    = link_to 'Back to tracks', tracks_path