.top-div
  .page-header
    %h1 Welcome to your library.
    %p Here are your favorite tracks.

  .search-bar
    = form_tag method: :get, role: "search" do
      %p
        = text_field_tag :search, params[:search], class: "search-control", placeholder: "Search for track.."
  .ext-links
    = link_to artists_path do
      See artists
    = "&nbsp".html_safe
    = "&nbsp".html_safe
    = "&nbsp".html_safe
    = link_to albums_path do
      See albums

.second-div
  .btn-add
    = link_to "Add a track", new_track_path
  %br
  %br

  .table
    %table
      %thead
        %tr
          %th
          %th Track
          %th Artist
          %th Album
          %th Length
          %th
      %tbody
        - @tracks.each do |track|
          %tr
            %td
              - if track.audio_file.attached?
                = track_tag track.audio_file
            %td
              = track.name
            %td
              = track.artist
            %td
              = track.album
            %td
              = track.length
            %td
              = link_to edit_track_path(track.id) do
                Edit
              = "&nbsp".html_safe
              = link_to track_path(track.id), method: :delete, data: { confirm: "Delete track?"} do
                Delete
  
  




