.form-container
  = form_with model: @artist do |f|
    .text-field.field-container
      = f.label :name
      = f.text_field :name
    %br
    .text-field.field-container
      = f.label :bio
      = f.text_area :bio
    %br
    .file-field.field-container
      =f.label :avatar
      =f.file_field :avatar
      %br
      %br

    .submit-field.field-container
      = f.submit 'Add artist'
    %br
    %br
  .back-field.field-container
    = link_to 'Back to artists', artists_path