.top-div
  .page-header
    %h1 Welcome to your library.
    %p Here are your favorite artists.

  .search-bar
    = form_tag method: :get, role: "search" do
      %p
        = text_field_tag :search, params[:search], class: "search-control", placeholder: "Search for artist.."
  .ext-links
    = link_to albums_path do
      See albums
    = "&nbsp".html_safe
    = "&nbsp".html_safe
    = "&nbsp".html_safe
    = link_to tracks_path do
      See tracks

.second-div
  .btn-add
    = link_to "Add an artist", new_artist_path
  %br
  %br

  .table
    %table
      %thead
        %tr
          %th
          %th Artist
          %th Bio
          %th Formed
          %th
      %tbody
        - @artists.each do |artist|
          %tr
            %td
              - if artist.avatar.attached?
                = image_tag artist.avatar.variant(resize:"50x50")
              - else
                = image_tag "artist-def.jpg", size:"50x50"
            %td
              = artist.name
            %td
              = artist.bio
            %td
              = artist.formed_at.year
            %td
              = link_to edit_artist_path(artist.id) do
                Edit
              = "&nbsp".html_safe
              = link_to artist_path(artist.id), method: :delete, data: { confirm: "Delete artist?"} do
                Delete
  
  




