%h1 Welcome to your library.
%p
  Here are your favorite albums.

%br

= link_to artists_path do
  See artists
  %br
= link_to tracks_path do
  See tracks

- 3.times do
  %br

= link_to new_album_path do
  Add Album
  
%br

%table
  %thead
    %tr
      %th Album
      %th Artist
      %th Type
      %th Year
      %th Genre
      %th 
  %tbody
    - @albums.each do |album|
      %tr
        %td
          = album.name
        %td
          = album.artist
        %td
          = album.kind
        %td
          = album.year
        %td
          = link_to edit_album_path(album.id) do
            Edit
          = "&nbsp".html_safe
          = link_to album_path(album.id), medthod: :delete, data: { confirm: "Delete album?"} do
            Delete